<!DOCTYPE html>
<html>
  <head>
    <title>Communities</title>
    {% include 'bootstrap.html' %}
    {% include 'alterednav.html' %}
  </head>
  <body>
    <div class="container  text-center ">
    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Morning class</div>
  <div class="card-body">
    <h5 class="card-title">"Were the warriors "</h5>
    <a href="#" class="btn btn-primary">Check feed </a>
  </div>
</div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Evening Class</div>
  <div class="card-body">
    <h5 class="card-title">"Were the warriors "</h5>
    <a href="#" class="btn btn-secondary">Check feed </a>
  </div>
</div>
          <div class="card text-bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Boxing Class</div>
  <div class="card-body">
    <h5 class="card-title">"Were the warriors "</h5>
    <a href="#" class="btn btn-success">Check feed </a>
  </div>
</div>
    <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Yoga class</div>
  <div class="card-body">
    <h5 class="card-title">"Were the warriors "</h5>
    <a href="#" class="btn btn-danger">Check feed </a>
  </div>
</div>
          <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header">Karate class</div>
  <div class="card-body">
    <h5 class="card-title">"Were the warriors "</h5>
    <a href="#" class="btn btn-warning">Check feed </a>
  </div>
</div>
    <div class="card text-bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Kids class</div>
  <div class="card-body">
    <h5 class="card-title">"Were the warriors "</h5>
    <a href="#" class="btn btn-info">Check feed </a>
  </div>
</div>
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Saturday class</div>
  <div class="card-body">
    <h5 class="card-title">"Were the warriors "</h5>
    <a href="#" class="btn btn-light">Check feed </a>
  </div>
</div>
    </div>
    <div class="text-center">
    <a href="mailto:calebmtuweta@gmail.com?subject=Questions%20or%20querries%20about%20Shiloh%20gym%20fam%20&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20query%20or%20question%3A%20%3Cyour%20question%20or%20query%3E"class="btn btn-primary btn-lg">Contact Us </a>
    </div>
    {% include 'footer.html' %}
  </body>
</html>