<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a  target="_blank" href="https://wa.me/<+254792871115.>" class="nav-link px-2 text-muted">Whatsapp</a></li>
      <li class="nav-item"><a  target="_blank" href="https://m.facebook.com/people/Shiloh-gym/100083141390709/" class="nav-link px-2 text-muted">Facebook</a></li>
      
      <li class="nav-item"><a target="_blank" href="https://twitter.com/GratiaPremium/status/1486352477653929985?t=BIihQlnp7VlmG9IPPl6B1w&s=08" class="nav-link px-2 text-muted">Twitter</a></li>
      <li class="nav-item"><a  target="_blank" href="https://www.instagram.com/shiloh_gym_/" class="nav-link px-2 text-muted">Instagram</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Shiloh, Inc</p>
  </footer>
</div>