<nav class="navbar shadow-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-size: 54px;">Shiloh Gym</a>
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
      <a class="nav-link" href="https://shiloh-gym.westillest.repl.co/register">Join Us Today</a>
      <a class="nav-link" href="https://shiloh-gym.westillest.repl.co/login">Login</a>
      <a class="nav-link active" aria-current="page" href="/">Packages</a>
    </div>
  </div>
</nav>